/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.icon-zoom {
  font-size: 30px;
}
.link-contact {
  text-decoration: none !important;
  color: black;
}
.link-contact:hover {
  text-decoration: none !important;
  color: black;
}
.icon {
  font-size: 30px;
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -20px !important;
  margin-right: -19px;
}
.col-lg-4 {
  padding-bottom: 15px;
}
.carousel-caption {
  color: black !important;
}
.carousel-caption > strong {
  background-color: white;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230275d8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230275d8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#home {
  background-color: #010101;
  height: 100vh !important;
  min-height: 350px;
}
.home-data {
  padding-top: 30vh;
  padding-left: 10vw;
}

#about {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
#projects {
  background-color: #010101;
  padding-top: 100px;
  padding-bottom: 100px;
}
#contact {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 185px;
  border-bottom: 1px solid black;
}
.display-1 {
  padding-bottom: 10vh;
}
.project_caption {
  color: whitesmoke !important;
  padding-top: 15vh;
  opacity: 0.7;
}
.contact_caption,
.about_caption {
  padding-top: 15vh;
}

#parent {
  white-space: nowrap;
  font-size: 55px;
  overflow: hidden;
  font-size: 55px;
  animation: typewriter 4s steps(50) 0.5s 1 normal both,
    cursorblink 0.5s infinite;
}
#footer {
  background-color: black;
  color: whitesmoke;
}
#projects > h1 {
  color: whitesmoke !important;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 300px;
  }
}

@keyframes cursorblink {
  from {
    border-right: 1px solid #007bff;
  }

  to {
    border-right-color: transparent;
  }
}
#myNavbar {
  border: none;
}

.project_img {
  height: 300px;
  width: 300px;
}
.nav-tabs .nav-link {
  background-color: transparent !important;
  border: none !important;
}

.fas:hover,
.icon:hover,
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  transition: tranform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background-color: black;
  color: white;
}

#back-to-top.show {
  opacity: 1;
}
